apache-airflow-providers-postgres==5.4.0
apache-airflow-providers-apache-beam==4.3.0
apache-airflow-providers-http==4.2.0
apache-airflow-providers-slack==7.2.0
apache-airflow-providers-kafka==1.1.0
apache-airflow-providers-ssh==3.3.0
apache-airflow-providers-docker==3.5.0
psycopg2-binary==2.9.5
sqlalchemy==1.4.47
pandas==1.5.3
numpy==1.24.2
matplotlib==3.7.1
pyspark==3.3.2
scikit-learn==1.2.2
pytest==7.3.1
apache-beam[gcp]==2.46.0
confluent-kafka==2.0.2
fastavro==1.7.3
fastparquet==2023.4.0
pyarrow==11.0.0 